<header class="header">
    <h1>c'est très très bôôôô hein?! <a href="/gossipproject/home">Home</a> <a href="/gossipproject/team">Team</a></h1>
</header>
<h1>Thegossipproject#contact</h1>
<p>Bonjour</p> </br>
<div>Vous pouvez nous contacter "<a href="https://www.thehackingproject.org/contact"> ici.</a></div>

</br>
</br>
</br>
</br>
</br>
</br>







<nav class="navbar">
  <a class="navbar">ici vous êtes chez vous !!</a>
</nav>
