<header class="header">
    <h1>coooooomme c'est bôôôô ...  <a href="/gossipproject/home">Home</a> <a href="/gossipproject/contact">Contact</a></h1>
</header>
<h1>Thegossipproject#team</h1>
<p>Youpiii!! </p> </br>
<p>Voici la belle équipe: Christine <3 </p> </br>
<p>Youpiii!! </p></br>

</br>
</br>
</br>
</br>
</br>
</br>


<nav class="navbar">
  <a class="navbar">c'est nooousuussss !!</a>
</nav>
