// Place all the styles related to the gossipproject controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
   background-color: pink
 }

 .header {
     background: no-repeat left/cover url(/media/examples/puppy-header-logo.jpg);
     display: flex;
     height: 120px;
     min-width: 120px;
     align-items: center;
     color: purple;
     text-shadow: #000 0 0 .8em;
 }
